    /*sistema hexadecimal: 6 posiciones
                        2 para el rojo, dos para el verde, dos para el azul: rrggbb rgb()-> red, green blue
                        la intensidad de en color: 0 1 2 3 4 5 6 7 8 9 A B C D E F -> cero es ausencia de color, f lo contrario a 0
                        color negro: #000000 y color blanco #ffffff -> una forma de representar el color ó rgb(0, 0, 0)

                            */


header{
    background-color: #BBBBBB;
    padding: 20px 0;;
}

.caja_header {
    position: relative;
    margin: 0 auto;
    width: 940px; /*las pantallas por lo general tienen de ancho 1280px, así que se le pide que ocupe el 70%*/ 
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px; /*izq, arriba, abajo, derecha*/
}

nav a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

/*DEFINICIÓN DEL ESPACIO DEL TÍTULO*/

.principal{
    background: #FEFEFE; 
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.banner{
    width:100%; /*se usa porcentaje para ocupar el porcentaje de la pantalla*/
}

.titulos{
    text-align: center;
    height: 80px; /*cambia altura y aisla el título del texto en la parte inferior*/
    border: 10px solid #000000; /*se crea un borde en el contenedor del título*/
    padding-top: 20px; /*padding se usa para crear espacios dentro del contenedor, se puede dar espacio esecífico o general*/
    margin:40px; /*se crea un espacio por fuera del borde según la medida que se coloque*/
    font-size: 2em; /* 2em le estamos diciendo que queremos que sea dos veces el tamaño padrón, el tamaño por defecto de la fuente que tiene nuestro navegador*/
    /*el navegador está usando 15 píxeles de tamaño de fuente. Entonces, al colocarle 2em le estamos diciendo que quiero dos veces ese tamaño*/
   
}

.titulos:first-letter{ /*selectores específicos para colocar la letra de cada título más grande*/
    font-size: 40px;
}

 /*selectores específicos para colocar corchetes al inifio y fin de los títulos*/
 .titulos::before{ 
    content: "[" ;
}

.titulos::after{ 
    content: "]" ;
}

.utensilios{
    width: 120px;
    float:left;
    margin:20px;
}

.textoBarberiaMision{
    width: 60%;
    vertical-align: middle;
    margin-left: 20%;
}

.textoBarberiaMision p{
    text-align: justify;
}

em strong{ /*cuando no tengo clases, se selecciona la familia de etiquetas para que sólo aplique allí el cambio de estilo: combinación de selectores*/
    color:red;
    font-size: 20px;
}
#mision{
    font-size: 20px;
}



.principal strong{
    font-weight: bold;
}

.principal em{
    font-style:italic;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888) ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width:940;
    margin: 0 auto;
    
}
iframe{
    margin-left: 10%;
}


/*ESTILOS DE DIFERENCIALES*/
.diferenciales{
    background: #888888;
    padding: 3em 0;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}


.lista-diferenciales{
    display: inline-block; /* se le ppide a la lista que ocupe sólo su contenid y que el espaciamiento se puedan acomodar */
    width: 30%;
    vertical-align: top;
}

.items{
    line-height: 1.5; /*1.5 más del 50% de nuestra fuente*/
    list-style: none;
}

.items::before{
    content: "⁕";
}

/*PSEUDOCLASES: se usa cuando un elemento tiene ya una clase pero no se debe colocar id para volverlo específico así que se llama la clase y se enuncia el número del elemento: con nth-child() se coloca el numero del item entre el paréntesis*/
.items:first-child{
    font-weight: bold;
}

.imagenDiferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px black; /*primer y segundo número posición, tercer numero degradado, cuarto numero expansión */
}
.imagenDiferenciales:hover{
    opacity: 0.3; /*si se coloca cero la opacidad tapa totalmente la imagen*/
}

.video{
    width: 560px;
    margin: 1em auto;
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 40px;
    width: 100%;
 }

 .copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
 }

 /*PARA HACER RESPONSIVE*/
 @media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }
    .caja_header, .principal, .mapa-contenido, .diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagenDiferenciales{
        width: 100%;
    }
    
 }